Plotly is an interactive visulization library

Cufflinks connects plotly with pandas

In [18]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
from plotly import __version__

In [3]:
print(__version__)

2.2.2

In [4]:
import cufflinks as cf # need to install cufflinks

ModuleNotFoundError: No module named 'cufflinks'

In [6]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [8]:
init_notebook_mode(connected=True)

In [9]:
cf.go_offline()

NameError: name 'cf' is not defined

In [11]:
# DATA
df = pd.DataFrame(np.random.randn(100,4), columns='A B C D'.split())

In [14]:
df.head()

          A         B         C         D
0  2.048587 -0.660194  0.646027 -1.502733
1  0.420571 -0.594573 -1.947121 -0.682338
2 -0.026077  0.024136  0.461449 -1.903411
3 -0.629324 -0.279541  0.299497  0.305751
4 -0.771492  0.124705 -0.732994  0.773447

In [15]:
df2 = pd.DataFrame({'Category':['A','B','C'],'Value':[32,43,50]})

In [16]:
df2.head()

  Category  Value
0        A     32
1        B     43
2        C     50

In [22]:
df.iplot()

AttributeError: 'DataFrame' object has no attribute 'iplot'